zmetci
blbec
buzerant
buzna
curak
cubka
curak 
curak
debil
dement
devka
dylina
fetak
hovnoksicht
hovnoxicht
hovnous
idiot
kedra
kokot
konomrd
koza
krava
kreten
kripl
kunda
kurva
kurvak
kurburt
mrduch
osel
pica
picus
pipina
pipka
poser
posera
posuk
prdeloid
prsatice
smazka
sracka
uchyl
uchylak
vul
zmrd
zik
zoofil
blbost
debilita
demence
deviace
hovno
idiocie
kozy
kretenizmus
kretenismus
ksicht
xicht
prdel
uchylka
zoofilie
blby
debilni 
dementni 
zasrany 
zkurveny
buzerovat 
curat
curat
fetovat
chcat
chyndit
jebat 
kurvit
zkurvit
kurvit se
mrdat
pichat
podelat 
pochcat se
posrat
srat
soustat
sukat
vypicit
hakysak
hulit
husty
kalba
rostenka
sypa
trava
zik 
pica
pica
curak
kokotik
kokoutko
kokotisko
jebica
admin je pica
GM je kokot
Gm je curak
Admin je curak
www
prijd k nam na server
picapes
kurvadrat
dohajzlu
dopici
kretene
debile
hajzle
mamrde
jantar
noob
lama
